<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>热门话题统计系统</title>

  <link rel="stylesheet" href="{{ static_file('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ static_file('css/metisMenu.min.css') }}">
  <link rel="stylesheet" type="text/css" media="all" href="{{ static_file('css/dataTables.bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ static_file('css/dataTables.responsive.css') }}" />
  <link rel="stylesheet" href="{{ static_file('css/sb-admin-2.css') }}">
  <link rel="stylesheet" href="{{ static_file('css/font-awesome.min.css') }}">
  {% block style %}
  {% endblock %}
  
</head>

<body>

  <div id="wrapper">
    {% block nav %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">热门话题统计系统</a>
          </div>
    
          <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="/login_out/"><i class="fa fa-sign-out fa-fw"></i>退出</a>
                    </li>
              </ul>
            </li>
            </ul>
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">
                <li>
                  <a href="/common/">
                      <i class="fa fa-bar-chart-o fa-fw"></i>
                      概览
                  </a>
                </li>
                <li>
                  <a href="/user/">
                      <i class="fa fa-bar-chart-o fa-fw"></i>
                      用户统计
                  </a>
                </li>
                <li>
                  <a href="/topic/">
                      <i class="fa fa-bar-chart-o fa-fw"></i>
                      话题统计
                  </a>
                </li>
                <li>
                  <a href="/device/">
                      <i class="fa fa-bar-chart-o fa-fw"></i>
                      设备激活统计
                  </a>
                </li>
                </ul>
            </div>
          </div>
        </nav>
    {% endblock %}
    <!-- Page Content -->
    {% block wrapper_start %}
        <div id="page-wrapper">
    {% endblock %}
        {% block content %}
        {% endblock %}
    {% block wrapper_end %}
        </div>
    {% endblock %}
  </div>
  <!-- /#wrapper -->

  <script type="application/javascript" src="{{ static_file('js/jquery.min.js') }}"></script>
  <script type="application/javascript" src="{{ static_file('js/bootstrap.min.js') }}"></script>
  <script type="application/javascript" src="{{ static_file('js/metisMenu.min.js') }}"></script>
  <script type="application/javascript" src="{{ static_file('js/sb-admin-2.js') }}"></script>
  <script type="application/javascript" src="{{ static_file('js/echarts-all.js') }}"></script>
  {% block js %}
  {% endblock %}
  

</body>

</html>
